@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: ;
  --color-secondary: #90a1b9;
  --color-accent: #111B3C;
  --color-info: #2b7fff33;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

.active {
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow:  inset 0px 1px 18px 2px rgba(210, 234, 255, 1),inset 0px 1px 4px 2px rgba(210, 234, 255, 1),0px 42px 107px 0px rgba(87, 177, 255, 0.34),0px 24.72px 32.25736618041992px 0px rgba(87, 177, 255, 0.19),0px 10.27px 13.39806079864502px 0px rgba(87, 177, 255, 0.22),0px 3.71px 4.845815658569336px 0px rgba(87, 177, 255, 0.15);
  background: url(),linear-gradient(180.00deg, rgba(21, 34, 82, 1),rgba(17, 27, 60, 1) 100%);
}